.periodInputBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.span-text {
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}

.custom-label .form-check-label {
    font-size: 0.6944444444rem;
    margin-bottom: 0;
}

.form-check {
    display: flex!important;
    align-items: center;
    gap: 0.333rem;
}

#defaultCheckbox {
    margin-bottom: 4px;
}

#item1Radio, #item2Radio {
    font-size: 0.8rem;
    margin-bottom: 4px;
}

.custom-col {
    display: flex;
    align-items: center;
}
